<div class='entry-type'>
    <ul class="max-count-list">
        <li class='standli title'>请选择预约数量</li>
        <% for(var i = productInfo.maxNum; i > 0 ; i--){ %>
        <li class='standli' def_event='{click:"onSelectoCount"}'><%=i%></li>
        <%}%>
    </ul>
</div>