<div class="wrap wrap-headfooter">
    <header class="page-head">
        <!--<img src="images/back-icon.png" def_event="{click:'onBack'}">-->
        <h1>操作结果</h1>
    </header>
    <section>
        <!--操作结果页面开始-->
        <div class="success">
            <p><img src="images/success.png"></p>
            <p>撤销成功</p>
            <p></p>
        </div>
        <!--<div class="success-list">-->
            <!--<p class="spacing">您可能需要</p>-->
            <!--<div class="success-list-next spacing-sides" def_event="{click:'onReserve'}">-->
                <!--<span>我要预约</span>-->
                <!--<img class="right-icon" src="images/right-icon.png">-->
            <!--</div>-->
        <!--</div>-->
        <!--操作结果页面开始-->
    </section>
    <footer class="bg-bule" def_event="{click:'onBack'}">返回首页</footer>
</div>