@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
	margin: 0;
	padding: 0
}
body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	line-height: 1.5;
	font-size: 14px;
	color: #000;
	background-color: #f8f9fa;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset,
img {
	border: 0
}
li {
	list-style: none
}
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: 0;
	background: 0 0;
	-webkit-appearance: none;
	outline: 0
}
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 0;
	-webkit-tap-highlight-color: transparent
}
a {
	-webkit-touch-callout: none;
	text-decoration: none;
	color: #00a5e0;
	outline: 0
}
em,
i {
	font-style: normal
}
em {
	color: #f28c48
}
.ui-form {
	background-color: #fff
}
.ui-form .ui-form-item:first-child{
	border-top: 1px solid #ddd;
	
}
.ui-form .ui-form-item{
	border-bottom: 1px solid #ddd;
}
.ui-form ::-webkit-input-placeholder {
	color: #a6a6a6
}
.ui-form .ui-icon-close {
	top: 7px;
	right: 7px
}
.ui-form-item-order:active {
	background-color: #e5e6e7
}
.ui-form-item {
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	vertical-align: middle;
	padding-right: 20px;
	position: relative;
	padding-left: 20px
}
.ui-form-item label:not(.ui-switch):not(.ui-checkout):not(.ui-radio) {
	width: 95px;
	position: absolute;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.ui-form-item input:not([type=checkbox]),
.ui-form-item textarea {
	width: 100%;
	padding-left: 95px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.ui-form-item-textarea {
	height: 65px
}
.ui-form-item-textarea label {
	vertical-align: top
}
.ui-form-item-textarea textarea {
	margin-top: 15px;
	border: 0
}
.ui-form-item-textarea textarea:focus {
	outline: 0
}
.ui-form-item-l label,
.ui-form-item-r button {
	color: #00a5e0;
	text-align: center
}
.ui-form-item-r .ui-icon-close {
	right: 125px
}
.ui-form .ui-form-item-l input {
	padding-left: 115px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.ui-form-item-r {
	padding-right: 0
}
.ui-form .ui-form-item-r input {
	padding: 0 150px 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.ui-form-item-r button {
	width: 110px;
	height: 44px;
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0
}
.ui-form-item-r  {
	width: 110px;
	height: 44px;
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0
}
.ui-form-item-r button.disabled {
	color: #a6a6a6
}
.ui-form-item-r button:not(.disabled):active {
	background-color: #e5e6e7
}
.ui-form .ui-form-item-pure input {
	padding-left: 0
}
.ui-form .ui-form-item-show label {
	color: gray
}
.ui-form-item-link:after {
	background: url(../img/icon.png?_bid=306) no-repeat 0 -75px;
	-webkit-background-size: 150px auto;
	content: "";
	display: block;
	width: 9px;
	height: 15px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px
}
.ui-checkbox input {
	display: inline-block;
	width: 25px;
	height: 1px;
	position: relative;
	overflow: visible;
	border: 0;
	background: 0 0;
	-webkit-appearance: none;
	outline: 0;
	vertical-align: middle
}
.ui-checkbox input:before {
	background: url(../img/icon.png?_bid=306) no-repeat -50px -25px;
	-webkit-background-size: 150px auto;
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: -10px
}
.ui-checkbox input:checked:before {
	background-position: -25px -25px
}
.ui-checkbox-s {
	width: 19px
}
.ui-checkbox-s input:before {
	width: 19px;
	height: 19px;
	background-position: -100px -25px
}
.ui-checkbox-s input:checked:before {
	background-position: -75px -25px
}
.ui-form-item-switch {
	height: 44px;
	line-height: 44px;
	position: relative
}
.ui-title{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.ui-title span{
	background: #b3bbc2;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	font-size: 12px;
}
.ui-message{
	
	position:relative;
	left: 10%;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 45px;
	
}
.ui-action-bar{
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 40px;
	background: rgba(255,255,255,0.9);
	font-size: 16px;
	font-weight: 600;
	color:#007aff;
}
.ui-container{
	background: #e8ecec;
}
.ui-arraw-img{
	
	width: 40px;
	height: 40px;
	position: absolute;
	background: url(../img/bocroa_arraw.png) center no-repeat  ;
	right: 10px;
	
	
}
.icn-selected{

}
@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont-full.ttf) format("truetype"); }

.ui-select-link-text{
 	color:#8873ab;
 	font-weight: 600;
 	position: static;
 	margin-right: 25px;
} 
/* 箭头链接 */
.ui-arrowlink {
  position: absolute; }
  .ui-arrowlink:before {
    font-family: "iconfont" !important;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    color: #8873ab;
    font-weight: 600;
    content: "";
    position: static;
    /*right: 15px;*/
    right: 0px;
    top: 50%;
    /*margin-top: -22px;*/
    margin-right: -10px; }

.ui-arrowlink.active {
  background: #e5e6e7; }








