<div class="wrap wrap-justhead">
    <header class="page-head">
        <img src="images/back-icon.png">
        <h1>全国详情</h1>
    </header>
    <section>
        <div class="detailsPage">
            <div class="detailsPage-top">
                <p>分配数量总计</p>
                <p>689600</p>
            </div>
            <div class="confirm-top confirm-top-list confirm-top-list-details">
                <ul>
                    <li>
                        <span>网上分配数量</span>
                        <span>660000</span>
                    </li>
                    <li>
                        <span>柜台分配数量</span>
                        <span>33000</span>
                    </li>
                    <li>
                        <span>已兑换数量</span>
                        <span>50000</span>
                    </li>
                    <li>
                        <span>网上剩余可预约数量</span>
                        <span>2000</span>
                    </li>
                    <li>
                        <span>柜台剩余可预约数量</span>
                        <span>3000</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>