@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; line-height:120%;}
img{ border:0; vertical-align:middle}
a{ text-decoration:none;}
body{ background:#ffffff; font-size:14px; padding:10px}
ul li{ list-style:inside cjk-ideographic;}
ol li{ list-style:inside decimal;}
h3{ color:#026565; font-size:16px; font-weight:normal;font-family:SimHei;}
p{ margin-bottom:10px;}
