@CHARSET "UTF-8";

body{margin:0;padding:0;font-family:"Microsoft yahei","黑体";color:#2b2b2b;}
div, form, dl, dd, dt, h1, h2, h3, h4, h5, h6, input, ul, li, p, table {margin: 0;padding: 0;}
img {border: none;margin: 0;padding: 0;}
a{text-decoration: none;color:#555; display: block;outline:none;}
a:hover{text-decoration:none;}
ul, li,dl, dd, dt{list-style: none; list-style-type: none;*vertical-align: bottom;}
table{border-collapse:collapse;border-spacing:0;}

input, textarea, select {font-family:"Microsoft yahei","黑体";}
select{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:1px solid #ccc;}
input[type="button"],input[type="reset"] {cursor: pointer;}
input[type="text"]:focus {background-color:#F4FAFF;}

.input_Style{width: 236px; height:26px; font-size:16px; border:1px solid #ccc;}
