<div class="wrap wrap-justhead">
    <header class="page-head">
        <img src="images/back-icon.png">
        <h1>全国详情</h1>
    </header>
    <section>
        <div class="detailsPage">
            <div class="detailsPage-top">
                <p>分配数量总计</p>
                <p>689600</p>
            </div>
            <div class="detailed-list detailsPage-list">
                <ul>
                    <li>
                        <span>网点名称</span>
                        <div class="detailed-list-word">
                            <p>中国银行北京上地信息路支行</p>
                            <img style="display:none;" def_event="{click:'getDetail'}" id="img1" src="images/up-icon.png">
                            <img style="display:block;" def_event="{click:'getDetail'}" id="img2" src="images/down-icon.png">
                        </div>
                    </li>
                    <li id="hidDetail">
                        <span>&nbsp;</span>
                        <div class="detailed-list-word">
                            <p>北京海淀区信息路15-2号1层104室</p>
                            <p class="detailed-tips detailsPage-tips">010-62974862</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="confirm-top confirm-top-list confirm-top-list-details">
                <ul>
                    <li>
                        <span>网上分配数量</span>
                        <span>660000</span>
                    </li>
                    <li>
                        <span>柜台分配数量</span>
                        <span>33000</span>
                    </li>
                    <li>
                        <span>已兑换数量</span>
                        <span>50000</span>
                    </li>
                    <li>
                        <span>网上剩余可预约数量</span>
                        <span>2000</span>
                    </li>
                    <li>
                        <span>柜台剩余可预约数量</span>
                        <span>3000</span>
                    </li>
                </ul>
            </div>
            <div class="body-btn">
                <button>网上预约</button>
            </div>
        </div>
    </section>
</div>